# ignore log files
**/logs

# ignore numerical data files
# **/data
# *.dat

# ignore app file
**/banana_app
**/Banana_Linux

# ignore python cache files
**/__pycache__
**/.ipynb_checkpoints

# ignore .idea
**/.idea
